<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: none;
            max-height: none;
        }
    </style>
</head>
<body>
    <img src='data:image/png;base64,{{ image }}' alt="Image">
</body>
</html>
