<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Table with AJAX</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<table>
<h1> Schedule for ... </h1>
{% for localurl in links %}
<tr>
<td>	<img src="{{url_for('static',filename='schedule/'+ localurl) }}"/>
</td>	
</tr>
{% endfor %}
</table>
<button class="retmain">Return to table</button>

<script>
        $(document).ready(function() {
            function attachHandlers() {
			    $('.retmain').off('click').on('click', function() {
                                    window.close()
                });
            }

            attachHandlers();
        });
</script>

